################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DbOperationsWithEfCoreApp/.vs/DbOperationsWithEfCoreApp/FileContentIndex/07cb608c-81c0-4937-8942-af6692e324ce.vsidx
