################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DbOperationsWithEfCoreApp/.vs/DbOperationsWithEfCoreApp/FileContentIndex/07cb608c-81c0-4937-8942-af6692e324ce.vsidx
/DbOperationsWithEfCoreApp/.vs/DbOperationsWithEfCoreApp/FileContentIndex/53dfdcad-b05c-42c6-91b2-4c5c4878cf8d.vsidx
